.caixa{
    background-color: #3F51B5;
}

.titulo{
   color: rgb(176, 91, 91) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #542bb3bb;
    color: white !important;
}

.postagens{
    background-color: white;
}
